* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	/*position: absolute;
	top: 0;
	left: 0;*/
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas: "top top top"
												"sidebar-left main sidebar-right"
												"bottom bottom bottom";
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	background-color: lightgrey;
	height: 100vh;
	width: 40vw;
	transform: translateX(-40vw);
	transition: transform 0.5s ease;
		z-index: 2;
}

.nav--open {
	transform: translateX(0vw);
}

.close-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.open-button {
	position: absolute;
	top: 0;
	left: 0;
}

.top {
	background-color: red;
	grid-area: top;
}

.sidebar-left {
	background-color: yellow;
	grid-area: sidebar-left;
}

.main {
	background-color: grey;
	grid-area: main;	
}

.sidebar-right {
	background-color: blue;
	grid-area: sidebar-right;
}

.bottom {
	background-color: green;
	grid-area: bottom;
}