html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 200px 200px;
}

@media screen and (max-width: 480px) {
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 200px);
	}
}

.column {
	display: grid;
	place-items: center;
}

.column-1 {
	background: linear-gradient(#1CB0F6, #BCE9FF);
}

.column-2 {
	background: linear-gradient(to right, #7AC70C, #BFF199);
}

.column-3 {
	background: url(valerie.jpg) no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

.column-4 {
	background: url(valerie.jpg) no-repeat;
	background-size: contain;
}

.column-5 {
	background: url(valerie.jpg) no-repeat;
	background-size: 500px;
}

