* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', arial;
	padding: 1em;
	background-color: skyblue;
	/*font-size: 3em;*/
}

.pop-up {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 12px;
	color: white;
	background: darkblue;
	transform: translate3d(0, 100px, 0);
	transition: transform 0.3s ease-out;
}


.pop-up--open {
	transform: translate3d(0, 0, 0);
}

