.banner {
  width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.bannerframe {
  width: 3000px;
  height: 200px;
  animation: teammove 20s linear 1;
  animation-fill-mode: both;
}

@keyframes teammove {
    0% {
        margin-left: 0px;
}
    100% {
        margin-left: -1200px;
    }
}