* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', arial;
	padding: 1em;
	background-color: skyblue;
}

.hover {
	display: inline-block;
	position: relative;
	font-size: 4em;
}

.hover::before {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}