* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 1em;
	display: none;
}

.modal {
	width: 90%;
	background: skyblue;
	opacity: 0;
}

.modal__button--close {
	background-color: darkred;
	border: 0;
	padding: 0.50em;
	color: white;
	/*border-radius: 5px;*/
}

.overlay--open {
	display: grid;
}

.modal--open {
	animation: 0.3s show;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

.modal--hide {
	animation: 0.3s hide;
	animation-delay: 0.2s;
	animation-fill-mode: backwards;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, -40px, 0);
	}
}

@keyframes hide {
	from {
		opacity: 1;
		transform: translate3d(0, -40px, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}

header {
	background-color: yellow;
	padding: 1%;
	display: flex;
	justify-content: space-between;
}

section {
	padding: 1%;
}