* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: skyblue;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 12px;
	border-bottom: 2px solid white;
	text-align: left;
	width: 100px;
}

main {
	overflow: scroll;
}