* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	overflow: hidden;
}

.container {
	transition: transform 0.3s ease-in;
	height: 100vh;
	width: 400%;
	display: flex;
}

.item {
	flex: 1 1 50%;
	color: white;
	display: grid;
	place-items: center;
}

.one {
	background-color: grey;
}

.two {
	background-color: blue;
}

.three {
	background-color: yellow;
}

.four {
	background-color: green;
}

.show-two {
	transform: translate3d(-25%, 0, 0);
}

.show-three {
	transform: translate3d(-50%, 0, 0);
}

.show-four {
	transform: translate3d(-75%, 0, 0);
}