* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', arial;
	padding: 1em;
	background-color: skyblue;
	/*font-size: 3em;*/
}

.content {
	transition: max-height 0.5s;
	overflow: hidden;
	max-height: 0;
}

.hover:hover > .content {
	max-height: var(--max-height);
}

