:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
}

body * + * {
	margin-top: 1.5em;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

.row {
	margin-left: -0.75;
	margin-right: -0.75;
}

.row::after {
	content: " ";
	display: block;
	clear: both;
}

[class*="column-"] {
	float: left;
	padding: 0 0.75em;
	margin-top: 0;
	background: #ddd;
}

.column-1 { width: 8.3333%; }
.column-2 { width: 16.6667%; }
.column-3 { width: 25%; }
.column-4 { width: 33.3333%; }
.column-5 { width: 41.6667%; }
.column-6 { width: 50%; }
.column-7 { width: 58.3333%; }
.column-8 { width: 66.6667%; }
.column-9 { width: 75%; }
.column-10 { width: 83.3333%; }
.column-11 { width: 91.6667% }
.column-12 { width: 100%; }