:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	background-color: #709b90;
	font-family: Helvetica, Arial, sans-serif;
}

body * + * {
	margin-top: 1.5em;
}

.container {
	/*display: flex;*/
	max-width: 1080px;
	margin: 0 auto;
}

.site-nav {
	display: flex;
	padding: 0.5em;
	padding-left: 0;
	list-style-type: none;
	background-color: #5f4b44;
	border-radius: .2em;
}

.site-nav > li {
	margin-top: 0;
}

.site-nav > li > a {
	display: block;
	padding: 0.5em 1em;
	background-color: #cc6b5a;
	color: white;
	text-decoration: none;
}

.site-nav > li + li {
	margin-left: 1.5em;
}

.site-nav > .nav-right {
	margin-left: auto;
}

.tile {
	padding: 1.5em;
	background-color: #fff;
}

.flex {
	display: flex;
}

.flex	> * + * {
	margin-top: 0;
	margin-left: 1.5em;
}

.column-main {
	flex: 66.67%; /*1 1 66.67%*/
}

.columns-sidebar {
	/*flex: 33.33%;*/ /*1 1 33.33%*/
	flex: 1;
	display: flex;
	flex-direction: column;
}

.column-sidebar > .tile {
	flex: 1;
}

.login-form h3 {
	margin: 0;
	font-size: .9em;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
}

/*Styles all text-like inputs (not checkboxes or radio buttons)*/
.login-form input:not([type=checkbox]):not([type=radio]) {
	display: block;
	width: 100%;
	margin-top: 0;
}

/* Style the button */
.login-form button {
	margin-top: 1em;
	border: 1px solid #cc6b5a;
	background-color: white;
	padding: .5em 1em;
	cursor: pointer;
}

.centered {
	text-align: center;
}

/*Centers flex items on both the main and cross axes*/
.cost {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: .7;
}

/*Overrides margins from the lobotomized owl*/
.cost > span {
	margin-top: 0;
}

/*Sets different font sizes for each part of the cost*/
.cost-currency {
	font-size: 2rem;
}
.cost-dollars {
	font-size: 4rem;
}
.cost-cents {
	font-size: 1.5rem;
	/*Overrides align-items for this item, aligning
  it to the top instead
	of center*/
	align-self: flex-start;
}

.cta-button {
	display: block;
	background-color: #cc6b5a;
	color: white;
	padding: .5em 1em;
	text-decoration: none;
}